apiVersion: v1
kind: Secret
metadata:
  namespace: {{.Namespace}}
  name: multicluster-global-hub-grafana-datasource
type: Opaque
stringData:
  datasourceKey: |
    apiVersion: 1
    datasources:
      - name: Postgres
        type: postgres
        url: {{.POSTGRES_HOST}}
        database: hoh
        user: {{.POSTGRES_USER}}
        secureJsonData:
          password: {{.POSTGRES_PASSWORD}}
        jsonData:
          sslmode: "disable" # disable/require/verify-ca/verify-full
          maxOpenConns: 0         # Grafana v5.4+
          maxIdleConns: 2         # Grafana v5.4+
          connMaxLifetime: 14400  # Grafana v5.4+
          postgresVersion: 903 # 903=9.3, 904=9.4, 905=9.5, 906=9.6, 1000=10
          timescaledb: false
