apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: multicluster-global-hub-agent
  namespace: {{.HostedClusterNamespace}}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
