
# hub-of-hubs config
KUBECONFIG=
CONTEXT=

# managedcluster1 config
IMPORTED1_LEAF_HUB_NAME=
IMPORTED1_NAME=
IMPORTED1_KUBECONFIG=
IMPORTED1_CONTEXT=

# managedcluster2 config
IMPORTED2_LEAF_HUB_NAME=
IMPORTED2_NAME=
IMPORTED2_KUBECONFIG=
IMPORTED2_CONTEXT=