apiVersion: apps/v1
kind: Deployment
metadata:
  name: multicluster-global-hub-manager
  namespace: {{.Namespace}}
  labels:
    name: multicluster-global-hub-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      name: multicluster-global-hub-manager
  template:
    metadata:
      labels:
        name: multicluster-global-hub-manager
    spec:
      serviceAccountName: multicluster-global-hub-manager
      containers:
        - name: multicluster-global-hub-manager
          image: {{.Image}}
          imagePullPolicy: {{.ImagePullPolicy}}
          args:
            - --zap-devel=true
            - --manager-namespace=$(POD_NAMESPACE)
            - --watch-namespace=$(WATCH_NAMESPACE)
            - --transport-type={{.TransportType}}
            - --transport-format={{.TransportFormat}}
            - --kafka-bootstrap-server={{.KafkaBootstrapServer}}
            - --kafka-ca-path=/kafka-ca/ca.crt
            - --postgres-ca-path=/postgres-ca/ca.crt
            - --transport-message-compression-type={{.MessageCompressionType}}
            - --process-database-url=$(DATABASE_URL)
            - --transport-bridge-database-url=$(DATABASE_URL)
            - --lease-duration={{.LeaseDuration}}
            - --renew-deadline={{.RenewDeadline}}
            - --retry-period={{.RetryPeriod}}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: WATCH_NAMESPACE
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{.DBSecret}}
                  key: database_uri
          ports:
          - containerPort: 9443
            name: webhook-server
            protocol: TCP
          - containerPort: 8080
            name: http-apiserver
            protocol: TCP
          volumeMounts:
          - mountPath: /webhook-certs
            name: webhook-certs
            readOnly: true
          - mountPath: /kafka-ca
            name: kafka-ca
            readOnly: true
          - mountPath: /postgres-ca
            name: postgres-ca
            readOnly: true
        - name: oauth-proxy
          image: {{.ProxyImage}}
          imagePullPolicy: {{.ImagePullPolicy}}
          args:
            - --provider=openshift
            - --https-address=:8443
            - --http-address=
            - --upstream=http://localhost:8080
            - --skip-provider-button=true
            # - '--client-id=/var/run/secrets/kubernetes.io/serviceaccount/namespace'
            # - '--client-secret-file=/var/run/secrets/kubernetes.io/serviceaccount/token'
            - '--pass-user-bearer-token=true'
            - '--pass-access-token=true'
            - --openshift-sar={"resource":"projects","verb":"list"}
            - --openshift-delegate-urls={"/":{"resource":"projects","verb":"list"}}
            - --tls-cert=/etc/tls/private/tls.crt
            - --tls-key=/etc/tls/private/tls.key
            - --openshift-service-account=multicluster-global-hub-manager
            - --cookie-secret-file=/etc/proxy/secrets/session_secret
            - --openshift-ca=/etc/pki/tls/cert.pem
            - --openshift-ca=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          ports:
            - containerPort: 8443
              name: oauth-proxy
              protocol: TCP
          resources:
            requests:
              cpu: 1m
              memory: 20Mi
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /oauth/healthz
              port: 8443
              scheme: HTTPS
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          volumeMounts:
          - mountPath: /etc/tls/private
            name: apiserver-certs
            readOnly: true
          - mountPath: /etc/proxy/secrets
            name: cookie-secret
      {{ if .ImagePullSecret }}
      imagePullSecrets:
        - name: {{.ImagePullSecret}}
      {{ end }}
      nodeSelector:
        {{- range $key, $value := .NodeSelector}}
        "{{$key}}": "{{$value}}"
        {{- end}}
      tolerations:
        {{- range .Tolerations}}
        - key: "{{.Key}}"
          operator: "{{.Operator}}"
          value: "{{.Value}}"
          effect: "{{.Effect}}"
          tolerationSeconds: {{.TolerationSeconds}}
        {{- end}}
      volumes:
      - name: apiserver-certs
        secret:
          secretName: multicluster-global-hub-manager-certs
      - name: cookie-secret
        secret:
          secretName: nonk8s-apiserver-cookie-secret
      - name: kafka-ca
        secret:
          secretName: kafka-ca-secret
      - name: postgres-ca
        secret:
          secretName: {{.DBSecret}}
      - name: webhook-certs
        secret:
          secretName: multicluster-global-hub-webhook-certs
