apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: spicedb-operator
    app.kubernetes.io/instance: spicedb-operator
  name: spicedb-operator
  namespace: {{.Namespace}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spicedb-operator
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: spicedb-operator
        app.kubernetes.io/instance: spicedb-operator
    spec:
      containers:
      - args:
        - run
        - -v=4
        - --crd=false
        - --config
        - /opt/operator/update-graph.yaml
        image: {{.Image}}
        imagePullPolicy: {{.ImagePullPolicy}}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 15
        name: spicedb-operator
        ports:
        - containerPort: 8080
          name: prometheus
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
            scheme: HTTP
          periodSeconds: 1
          successThreshold: 1
          timeoutSeconds: 15
        resources:
          limits:
            cpu: 250m
            memory: 160Mi
          requests:
            cpu: 20m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - mountPath: /opt/operator
          name: config
          readOnly: true
      securityContext:
        runAsUser: 1001
        runAsNonRoot: true
      serviceAccountName: spicedb-operator
      {{- if .ImagePullSecret }}
      imagePullSecrets:
        - name: {{.ImagePullSecret}}
      {{- end }}
      {{- if .NodeSelector }}
      nodeSelector:
        {{- range $key, $value := .NodeSelector}}
        "{{$key}}": "{{$value}}"
        {{- end}}
      {{- end }}
      {{- if .Tolerations }}
      tolerations:
        {{- range .Tolerations}}
        - key: "{{.Key}}"
          operator: "{{.Operator}}"
          {{- if .Value}}
          value: "{{.Value}}"
          {{- end}}
          effect: "{{.Effect}}"
          {{- if .TolerationSeconds}}
          tolerationSeconds: {{.TolerationSeconds}}
          {{- end}}
        {{- end}}
      {{- end }}
      volumes:
      - configMap:
          defaultMode: 420
          name: update-graph
        name: config
