name: Deploy Global Hub Without ACM

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main

env:
  GO_VERSION: '1.24'
  GO_REQUIRED_MIN_VERSION: ''

permissions:
  contents: read

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install ginkgo
        run: go install github.com/onsi/ginkgo/v2/ginkgo@v2.15.0
      - name: Test E2E
        run: |
          make kessel-e2e-setup
